body {
  box-sizing: border-box;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#container {
  width: 500px;
  height: 500px;
  display: flex;
  flex-wrap: wrap;
}

.row {
  width: 100%;
  display: flex;
}

.square {
  background-color: powderblue;
  border: 1px solid white;
  border-radius: 5px;
  width: 10%;
}
